%nav.navbar.navbar-default
  .container
    .navbar-header
      .navbar-brand
      = link_to image_tag("logo.png", size: "43x50"), root_path
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to 'Home', root_path
        %li
          = link_to 'About', about_path
        %li
          = link_to "Posts", posts_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle": "dropdown", type: "button"}
              Menu
              %span.caret
              %ul.dropdown-menu
                = show_categories_for_admin
                %li= link_to "My posts", my_posts_path
        %li
          %span.glyphicon.glyphicon-user
          = login_or_logout_link
